{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Table</title>
    <link rel="stylesheet" href="{% static 'css/lab4_index.css' %}">
</head>
<body>
{% block nav %}
    <ul id="nav">
        <li>{% block nav-index %}<a href="{% url 'lab4_index' %}"><strong>Note Table</strong></a>{% endblock %}</li>
        <li>{% block nav-add %}<a href="{% url 'add_note' %}">Add Note</a>{% endblock %}</li>
        <li>{% block nav-card %}<a href="{% url 'note_list' %}">Note Cards</a>{% endblock %}</li>
    </ul>
{% endblock %}
<table>
    <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
    </tr>
    {% for note in notes %}
        <tr>
            <td>{{ note.toNote }}</td>
            <td>{{ note.fromNote }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
