{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note List</title>
    <link rel="stylesheet" href="{% static 'css/lab4_note_list.css' %}">
</head>
<body>
{% block nav %}
    <ul id="nav">
        <li>{% block nav-index %}<a href="{% url 'lab4_index' %}">Note Table</a>{% endblock %}</li>
        <li>{% block nav-add %}<a href="{% url 'add_note' %}">Add Note</a>{% endblock %}</li>
        <li>{% block nav-card %}<a href="{% url 'note_list' %}"><strong>Note Cards</strong></a>{% endblock %}</li>
    </ul>
{% endblock %}

{% for note in notes %}
    <div class="container">

        <div class="To">To: {{ note.toNote }}</div>
        <div class="From">From: {{ note.fromNote }}</div>
        <div class="Title">{{ note.title }}</div>
        <div class="Message">{{ note.message }}</div>

    </div>
{% endfor %}
</body>
</html>