{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Form</title>
    <link rel="stylesheet" href="{% static 'css/lab4_form.css' %}">
</head>
<body>
{% block nav %}
    <ul id="nav">
        <li>{% block nav-index %}<a href="{% url 'lab4_index' %}">Note Table</a>{% endblock %}</li>
        <li>{% block nav-add %}<a href="{% url 'add_note' %}"><strong>Add Note</strong></a>{% endblock %}</li>
        <li>{% block nav-card %}<a href="{% url 'note_list' %}">Note Cards</a>{% endblock %}</li>
    </ul>
{% endblock %}

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="submit" type="submit" value="Submit">

</form>
</body>
</html>