<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Form</title>
</head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
{#            <div>#}
{#                <label for="friend_name">Friend's Name: </label>#}
{#                <input id="friend_name" type="text" name="friend_name">#}
{#            </div>#}
{#            <div>#}
{#                <label for="friend_npm">Friend's NPM: </label>#}
{#                <input id="friend_npm" type="number" name="friend_npm">#}
{#            </div>#}
{#            <div>#}
{#                <label for="friend_dob">Friend's Date of Birth: </label>#}
{#                <input id="friend_dob" type="date" name="friend_dob">#}
{#            </div>#}
        </form>
    </body>
</html>