body {
    padding-left: 20px;
    background: #282828;
    color: #808080;
    font: 1.3rem sans-serif;
    justify-content: center;
    margin: auto;

}

a {
    color:#808080;
      text-decoration: none;
}

table {
    table-layout: fixed;
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    border-color: #363636;
}

th, td {
    padding: 10px;
}

thead th:nth-child(1) {
    width: 20%;
}

thead th:nth-child(2) {
    width: 20%;
}

td {
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody tr:hover {
    background-color: #565656;
}

tbody td {
    text-align: center;
    color: white;
}
