body {
    padding-left: 20px;
    background: #282828;
    color: white;
    font: 1.3rem sans-serif;
    justify-content: center;
    margin: auto;

}

a {

    color:#808080;
      text-decoration: none;
}


.container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 2.4fr;
    gap: 4px 4px;
    grid-auto-flow: row;
    grid-template-areas:
    "To From"
    "Title Title"
    "Message Message";
    padding: 20px;

    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.To {
    grid-area: To;
    color: #808080;
}

.From {
    grid-area: From;
    color: #808080;
}

.Title {
    grid-area: Title;
}

.Message {
    grid-area: Message;
}
