input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    font: 1rem Arial;
}

textarea {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    font: 1rem Arial;
}

body {
    padding-left: 20px;
    background: #282828;
    color: white;
    font: 1.3rem sans-serif;
    justify-content: center;
    max-width: 960px;
    margin: auto;
}

a {
    color:#808080;
      text-decoration: none;
}

label {
    display: inline-block;
    width: 20rem;
    text-align: center;
    color: #808080;
}

.submit {
    padding: 10px;
    border: none;
    background-color: #404040;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
}